html {
	height: 100%;
}

body {
	margin: 0px;
	font-family: droid sans mono;
	background-color: #000;
	color: #999;
	height: 100%;
	overflow: hidden;
	font-size: 15px;
}

#column {
	width: 400px;
	float: right;
	border-left: 2px solid #666;
	height: 100%;
	padding: .5em;
}

#log p {
	margin: .2em 0;
}

#log p:first-child {
	margin-bottom: .5em;
}

#log em {
	color: #fff;
	font-style: normal;
}

#log em.cancel {
	color: #c00;
}

#status {
	border-bottom: 2px solid #666;
	height: 10em;
}

#status p {
	text-align: center;
	margin-top: 0.5em;
}

#status table {
	width: 100%;
}

#intro {
	white-space: pre;
	font-size: 150%;
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #999;
	text-align: center;
	line-height: 130%;
}

#intro em {
	color: #fff;
	font-style: normal;
}

#intro a {
	color: #999;
}

#intro #train {
	display: block;
	color: goldenrod;
	-webkit-animation: train 20s linear 0s infinite;
	-moz-animation: train 20s linear 0s infinite;
	-o-animation: train 20s linear 0s infinite;
	animation: train 20s linear 0s infinite;
}

@-webkit-keyframes train {
	0%		{ color: #ff0; -webkit-transform: translate( 70%, 0); }
	100%	{ color: #f00; -webkit-transform: translate(-70%, 0); }
}

@-moz-keyframes train {
	0%		{ color: #ff0; -moz-transform: translate( 70%, 0); }
	100%	{ color: #f00; -moz-transform: translate(-70%, 0); }
}

@-o-keyframes train {
	0%		{ color: #ff0; -o-transform: translate( 70%, 0); }
	100%	{ color: #f00; -o-transform: translate(-70%, 0); }
}

@keyframes train {
	0%		{ color: #ff0; transform: translate( 70%, 0); }
	100%	{ color: #f00; transform: translate(-70%, 0); }
}
