html {
	height: 100%;
}

body {
	margin: 0px;
	font-family: droid sans mono;
	background-color: #000;
	color: #999;
	height: 100%;
	overflow: hidden;
	font-size: 15px;
}

#column {
	width: 400px;
	float: right;
	border-left: 2px solid #666;
	height: 100%;
	padding: .5em;
}

#log p {
	margin: .2em 0;
}

#log p:first-child {
	margin-bottom: .5em;
}

#log em {
	color: #fff;
	font-style: normal;
}

#log em.cancel {
	color: #c00;
}

#status {
	border-bottom: 2px solid #666;
	height: 10em;
}

#status p {
	text-align: center;
	margin-top: 0.5em;
}

#status table {
	width: 100%;
}

#status td span:first-child {
	margin-right: 0.5em;
}

#intro {
	white-space: pre;
	font-size: 150%;
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #999;
	text-align: center;
	line-height: 130%;
}

#intro em {
	color: #fff;
	font-style: normal;
}

#intro a {
	color: #999;
}
